//cores

$azul: hsl(246, 80%, 60%);
$vermelho-work: hsl(15, 100%, 70%);
$azul-play: hsl(195, 74%, 62%);
$vermelho-study: hsl(348, 100%, 68%);
$verde: hsl(145, 58%, 55%);
$violeta: hsl(264, 64%, 52%);
$laranja: hsl(43, 84%, 65%);
$branco: hsl(0, 0%, 100%);

//neutro

$azul-dark: hsl(226, 43%, 10%);
$azul-escuro: hsl(235, 46%, 20%);
$azul-1: hsl(235, 45%, 61%);
$azul-2: hsl(236, 100%, 87%);

//fontes

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');


@mixin Rubik-300{
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
}
@mixin Rubik-400{
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}
@mixin Rubik-500{
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}
