@use "../utilitarios" as *;

.conteiner{
   display: grid; 
    grid-template-rows: 250px 250px;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-areas: 
    "principal work study play"
    "principal exercise social self-care";
    gap: 2rem;
    @include celular{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
        width: 100%;
    }
    &__principal{
        grid-area: principal;
    }
    &__enfeite{
        height: 21.5%;
        border-radius: 12px 12px 0 0;
        display: flex;
        justify-content: flex-end;
        @include celular{
            height: 64px;
        }
        
        
    }
    &__item{
        background-color: $azul-escuro;
        border-radius: 12px;
        padding:2rem;
        padding-bottom: 2rem;
        color: $branco;
        height: 57%;
        position: relative;
        bottom: 10px;
        z-index: 1;
        @include celular{
            padding-bottom: 1rem;
        }
        &:hover{
            background-color: hsl(235, 46%, 30%);  
            cursor: pointer;
        }
    
    }
    &__work{
        grid-area: work;
    }
    &__play{
        grid-area: play;
    }
    &__study{
        grid-area: study;
    }
    &__exercise{
        grid-area: exercise;
    }
    &__social{
        grid-area: social;
    }
    &__self-care{
        grid-area: self-care;
    }
    &__titulo-conteiner{
        display: flex;
        justify-content: space-between;
    }
    &__titulo{
        @include Rubik-500;
        @include tablet{
            padding-bottom: 0.2rem;
        }
        
    }
    &__horas-conteiner{
        @include celular{
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            margin-top: 1rem;
        }
        
    }
    &__horas{
        @include Rubik-300;
        font-size: 4rem;
        padding-top: 2rem;
        padding-bottom: 1rem;
        @include celular{
            padding-top: 0rem;
            padding-bottom: 0rem;
            font-size: 3.5rem;
        }
        @include tablet{
            font-size: 2.5rem;
            padding-bottom: 2rem;
        }
    }
    &__last-week{
        @include Rubik-300;
        color: $azul-2;
        @include celular{
            margin-top: 0rem;
            position: relative;
            bottom: 6px;
        }
        @include tablet{
            font-size: 1rem;
        }

    }
}
.laranja{
    background-color: $vermelho-work;
    &::before{
        content: url(../images/icon-work.svg);
        margin-right: 1rem;
    }

}
.azul{
    background-color: $azul-play;
    &::before{
        content: url(../images/icon-play.svg);
        margin-right: 1rem;
    }
}
.vermelho{
    background-color: $vermelho-study;
    &::before{
        content: url(../images/icon-study.svg);
        margin-right: 1rem;
    }
}
.verde{
    background-color: $verde;
    &::before{
        content: url(../images/icon-exercise.svg);
        margin-right: 1rem;
    }
}
.violeta{
    background-color: $violeta;
    &::before{
        content: url(../images/icon-social.svg);
        margin-right: 1rem;
    }
}
.amarelo{
    background-color: $laranja;
    &::before{
        content: url(../images/icon-self-care.svg);
        margin-right: 1rem;
    }
}
.item{
    @include celular{
        width: 90%;
    }
}